body {
    font-family: "Gill Sans", sans-serif;
}

.todoList {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.responsiveTable {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.responsiveTable li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.responsiveTable a {
    width: 100%;
}

.responsiveTable .tableHeader {
    flex-grow: 100;
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsiveTable .tableRow {
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
}
.responsiveTable a .col1 {
    flex-basis: 20%;
}
.responsiveTable a .col2 {
    flex-basis: 40%;
}
.responsiveTable a .col3 {
    flex-basis: 10%;
}

/*.responsiveTable .col {*/
/*    display: inline-block;*/
/*}*/

.btn {
    margin: 0 10px;
    background-color: #95a5a6;
    border: none;
    padding: 0 5px;
    border-radius: 3px;

}

/*\
Input
 */

.input {
    border-radius: 3px;
    border: none;

    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
}

.input__text {
    height: 100%;
    border: none;
    padding: 25px 30px;
    flex-grow: 3;
    border-radius: 3px 0 0 3px;
}

.input__submit {
    border: none;
    border-radius: 0 3px 3px 0;
    flex-grow: 0.4;
}

@media all and (max-width: 767px) {
    .responsiveTable .tableHeader {
        display: none;
    }
    .responsiveTable li {
        display: block;
    }
    .responsiveTable .col {
        flex-basis: 100%;
    }
    .responsiveTable .col {
        display: flex;
        padding: 10px 0;
    }
    .responsiveTable .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}
